<div id="users">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2" data-controller="preview">
    <div class="card-body divide-y divide-gray-200">
      <div class="flex justify-start pb-1">
        <%= link_to login_path, class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>ユーザー登録
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <% if resource.confirming == "true" %>
          <%= render Users::New::Confirm::Component.new(form:, user: resource) %>
        <% else %>
          <%= render Users::New::Input::Component.new(form:, user: resource, back_to_path: login_path) %>
          <%= form.hidden_field :confirming %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
