<div class="sticky top-0 drawer drawer-end z-1000 justify-center pointer-events-none">
  <input id="search-sidebar" type="checkbox" class="drawer-toggle">
  <div class="drawer-content flex flex-col w-100 pointer-events-auto">
    <div class="navbar bg-base-100 shadow rounded-full glass-02">
      <div class="navbar-start pl-5">
        <%= link_to root_path, "data-controller": "queryMap",
                               "data-action": "click->queryMap#setQueryMap",
                               "data-queryMap-q-value": Oj.dump({ q: "{}" }) do %>
          <i class="bi bi-palette"></i> Easel Legacy
        <% end %>
      </div>
      <div class="navbar-center">
        <% if helpers.user_signed_in? %>
          <details class="dropdown">
            <summary>
              <span class="tooltip tooltip-bottom" data-tip="<%= helpers.current_user.name %>">
                <%= image_tag(helpers.current_user.image_url_for_view(:thumb), alt: helpers.current_user.name, class: "rounded w-10 h-10 inline") %>
              </span>
            </summary>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-20 z-999 glass-08">
              <li><%= link_to "profile", profile_path, class: "dropdown-item" %></li>
              <li><%= link_to "Upload", new_frame_path, class: "dropdown-item", "data-turbo": true %></li>
              <li><%= link_to "Logout", account_logout_path, data: { turbo_method: :delete },
                                                             class: "dropdown-item" %></li>
            </ul>
          </details>
        <% else %>
          <% unless controller_name == "sessions" || controller_name == "registrations" %>
          <%= link_to "ログイン", login_path, class: "" %>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-end flex gap-2 pr-5">
        <label for="search-sidebar" aria-label="open sidebar" class="btn btn-outline btn-primary">
          <i class="bi bi-search"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="search-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="mt-17.5">
      <%= render Drawer::SearchBar::Component.new %>
    </div>
  </div>
</div>
