<% if @model.class == Frame && @model.file.present? %>
  <% if @original %>
    <% if @photoswipe %>
      <div data-controller="pswipe" data-pswipe-selector-value="#image" id="image">
        <%= link_to image_tag(@model.file_proxy_url(:three), class: ""), @model.file_proxy_url(:original), class: "" %>
      </div>
    <% else %>
      <div data-controller="lightbox" data-lightbox-selector-value=".lb">
        <%= link_to image_tag(@model.file_proxy_url(:three), class: ""), @model.file_proxy_url(:original), class: "lb" %>
      </div>
    <% end %>
  <% else %>
    <%= image_tag(@model.file_proxy_url(:three), class: "") %>
  <% end %>
<% elsif @model.class == User && @model.image.present? %>
  <% unless @small %>
    <% if @original %>
      <%= link_to image_tag(@model.image_proxy_url(:three), class: "mx-auto"),
                  @model.image_url_for_view, class: "mx-auto lb" %>
    <% else %>
      <%= image_tag(@model.image_proxy_url(:three), class: "mx-auto") %>
    <% end %>
  <% else %>
    <% if @original %>
      <%= link_to image_tag(@model.image_url_for_view(:three), class: "mx-auto"),
                  @model.image_url, class: "mx-auto lb w-[100px] h-[100px]" %>
    <% else %>
      <%= image_tag(@model.image_url_for_view(:three), class: "mx-auto w-[100px] h-[100px]") %>
    <% end %>
  <% end %>
<% end %>
