<% if @model.class == Frame && @model.file.present? %>
  <% if @original %>
    <% if @photoswipe %>
      <div class="hidden" data-controller="pswipe" data-pswipe-selector-value="#image"></div>
      <div id="image">
        <%= link_to image_tag(@model.file_proxy_url(:three), class: ""), @model.file_proxy_url(:original), class: "" %>
      </div>
    <% else %>
      <div class="hidden" data-controller="lightbox" data-lightbox-selector-value=".lb"></div>
      <%= link_to image_tag(@model.file_proxy_url(:three), class: ""), @model.file_proxy_url(:original), class: "lb" %>
    <% end %>
  <% else %>
    <%= image_tag(@model.file_proxy_url(:three), class: "") %>
  <% end %>
<% elsif @model.class == User && @model.image.present? %>
  <% unless @small %>
    <% if @original %>
      <%= link_to image_tag(@model.image_proxy_url(:three), class: "mx-auto"),
                  @model.image_url_for_view, class: "mx-auto lb" %>
    <% else %>
      <%= image_tag(@model.image_proxy_url(:three), class: "mx-auto") %>
    <% end %>
  <% else %>
    <% if @original %>
      <%= link_to image_tag(@model.image_url_for_view(:three), class: "mx-auto"),
                  @model.image_url, class: "mx-auto lb w-25 h-25" %>
    <% else %>
      <%= image_tag(@model.image_url_for_view(:three), class: "mx-auto w-25 h-25") %>
    <% end %>
  <% end %>
<% end %>
