<div id="admins">
  <br>
  <div class="card col-sm-10 kadomaru mx-auto">
    <div class="card-header">
      <div class="float-start">
        &nbsp;<%= t("action.administration.title") %>
      </div>
    </div>
    <div class="card-block">
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |form| %>
        <div class="row d-flex justify-content-sm-center border border-white">
          <div class="col-sm-10">
            <table class="table table-bordered table_rounded">
              <tbody>
                <tr>
                  <td style="width: 6em;">
                    <label for="email" class="col-form-label-sm"><%= t("activerecord.attributes.user.email") %></label>
                  </td>
                  <td>
                    <%= form.text_field :email, placeholder: t("activerecord.attributes.user.email"),
                                                autofocus: true, autocomplete: "email",
                                                class: "form-control" %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="password" class="col-form-label-sm"><%= t("activerecord.attributes.user.password") %></label>
                  </td>
                  <td>
                    <%= form.password_field :password, placeholder: t("activerecord.attributes.user.password"),
                                                       autocomplete: "current-password",
                                                       class: "form-control" %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-center">
          <div class="form-group col-sm-10">
            <%= form.submit t("action.administration.login"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
