<div id="admins">
  <br>
  <div class="card bg-base-100 shadow shadow-sm kadomaru-10 ml-2 mr-2">
    <div class="card-body">
      <div class="d-flex">
        <div class="float-start">
          <%= t("action.administration.title") %>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <div class="flex justify-center">
          <div class="grid grid-cols-[70px_1fr] border border-gray-100 rounded bg-base-00 p-3">
            <div class="col-span-2 w-120"></div>
            <label for="email" class="flex items-center"><%= t("activerecord.attributes.user.email") %></label>
            <div class="">
              <%= form.email_field :email, placeholder: t("activerecord.attributes.user.email"),
                                           autofocus: true, autocomplete: "email",
                                           class: "input" %>
            </div>
            <label for="password" class="flex items-center"><%= t("activerecord.attributes.user.password") %></label>
            <div class="">
              <%= form.password_field :password, placeholder: t("activerecord.attributes.user.password"),
                                                 autocomplete: "current-password",
                                                 class: "input" %>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-2">
            <%= form.submit t("action.administration.login"), class: "btn btn-outline btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
