<div id="users">
  <br>
  <div class="card bg-base-100 shadow shadow-sm rounded-[20px] ml-2 mr-2">
    <div class="card-body divide-y divide-gray-200">
      <div class="flex justify-between pb-1">
        <div>
          <%= link_to root_path(query_params), class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>プロフィール
        </div>
        <div>
          <%= link_to edit_profile_path do %><i class="bi bi-pencil-square text-accent hover:text-primary"></i><% end %>
          <% unless @user.social_login? %>
            <%= link_to account_password_path do %><i class="bi bi-lock text-accent hover:text-primary"></i><% end %>
          <% end %>
        </div>
      </div>
      <div>
        <%= render Sessions::Preview::Image::Component.new(user: @user, original: false) %>
        <div class="flex justify-center">
          <div class="grid grid-cols-[80px_1fr] border border-gray-100 rounded bg-base-00 p-3 rounded-[10px]">
            <div class="col-span-2 w-120"></div>
            <label for="name" class="flex items-center">ユーザー名：</label>
            <div class="justify-start">
              <div class=""><%= @user.name %></div>
            </div>
            <div class="col-span-2 divider h-0"></div>
            <label for="email" class="flex items-center">Eメール：</label>
            <div class="justify-start">
              <div class=""><%= @user.email %></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="flex justify-center">
        <label for="password" class="">パスワード</label>
        <div class="">
          <div class=""><%= @user.password %></div>
        </div>
      </div> -->
      <!--<div class="flex justify-center">
        <div class="">
          <%= link_to "戻る", root_path(query_params), class: "btn btn-outline btn-warning", 'data-turbo': false %>
        </div>
      </div> -->
    </div>
  </div>
</div>
