<%= render Sessions::Show::Component.new(user: @user) %>

<%= render Frames::More::Prev::Component.new(pagy: @pagy) %>
<div id="list" class="grid grid-cols-1 sm:grid-cols-4 items-start lb">
  <%= render Frames::More::List::Component.new(frames: @frames, tag: false, from: "profile", pagy: @pagy) %>
</div>
<%= render Frames::More::Next::Component.new(pagy: @pagy) %>

<% if false %><div id="list" class="grid grid-cols-1 sm:grid-cols-4 items-start pt-2 lb">
  <%= render Frames::More::List::Component.new(frames: @frames, from: "profile", pagy: @pagy) %>
</div><% end %>

<%#= render Frames::Pager::Component.new(pagy: @pagy) %>
