<div id="users">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
    <div class="card-body divide-y divide-gray-200">
      <div class="flex justify-between pb-1">
        <div>
          <%= link_to @prev_url, class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>プロフィール
        </div>
        <div>
          <%= link_to edit_profile_path do %><i class="bi bi-pencil-square text-accent hover:text-primary"></i><% end %>
          <% unless @user.social_login? %>
            <%= link_to account_password_path do %><i class="bi bi-lock text-accent hover:text-primary"></i><% end %>
          <% end %>
          <a onclick="delete_modal.showModal()">
            <i class="bi bi-x-circle text-accent hover:text-primary"></i>
          </a>
        </div>
      </div>
      <div>
        <%= render ::Preview::Image::Component.new(model: @user, small: true) %>
        <div class="flex justify-center mt-2">
          <table class="table table-bordered table-rounded">
            <tbody>
              <tr>
                <td class="w-[8em]">
                  <label for="name" class="">ユーザー名</label>
                </td>
                <td>
                  <%= @user.name %>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="email" class="">Eメール</label>
                </td>
                <td>
                  <%= @user.email %>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="time_zone" class=""><%= t("activerecord.attributes.user.time_zone") %></label>
                </td>
                <td>
                  <%= @user.time_zone %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="flex justify-center">
        <label for="password" class="">パスワード</label>
        <div class="">
          <div class=""><%= @user.password %></div>
        </div>
      </div> -->
      <!--<div class="flex justify-center">
        <div class="">
          <%= link_to "戻る", @prev_url, class: "btn btn-outline btn-warning", "data-turbo": true %>
        </div>
      </div> -->
    </div>
  </div>

  <div id="list" class="pt-2">
    <%= render partial: "frames/more/list", locals: { frames: @frames, page: "profile" } %>
  </div>

  <div class="flex justify-center">
    <div class="mx-auto rounded-[5px] pt-2">
      <%== @pagy.series_nav %>
    </div>
  </div>

  <%= render Sessions::Show::DeleteModal::Component.new(path: delete_account_path) %>
</div>
