        <%= render(partial: 'frames/confirm/image', locals: {frame: frame, original: true}) %>
        <%= render(partial: 'frames/confirm/tags', locals: {frame: frame}) %>
        <%= form.hidden_field :tag_list, value: frame.tag_list.join(",") %>
        <div class="row d-flex justify-content-sm-center border border-white">
          <label for="name" class="col-form-label-sm col-sm-2 label-bg-style">名前</label>
          <div class="form-group col-sm-4">
            <%= frame.name %>
            <%= form.hidden_field :name %>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-center border border-white">
          <label for="comment" class="col-form-label-sm col-sm-2 label-bg-style">コメント</label>
          <div class="form-group col-sm-4">
            <%= simple_format(h(frame.comment)) %>
            <%= form.hidden_field :comment %>
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-sm-center">
          <div class="form-group col-sm-6">
            <%= form.submit '登録', class: 'btn btn-primary' %>
            <%= form.submit '戻る', class: 'btn btn-outline-secondary' %>
          </div>
        </div>