        <div class="card-block">
          <%= render(partial: 'frames/preview/tags', locals: {frame: frame}) %>
          <%= form.hidden_field :tag_list, value: frame.tag_list.join(",") %>
          <div class="row d-flex justify-content-sm-center">
            <label for="name" class="col-form-label-sm col-sm-2">名前：</label>
            <div class="col-sm-4">
              <%= frame.name %>
              <%= form.hidden_field :name %>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center">
            <label for="comment" class="col-form-label-sm col-sm-2">コメント：</label>
            <div class="col-md-4">
              <%= simple_format(h(frame.comment)) %>
              <%= form.hidden_field :comment %>
            </div>
          </div>
          <br>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <%= form.submit '更新', class: 'btn btn-primary' %>
              <%= form.submit '戻る', class: 'btn btn-outline-secondary' %>
            </div>
          </div>
        </div>