<br>
<% if Settings.google.client_id.present? %>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id='g_id_onload'
       data-client_id='<%= Settings.google.client_id %>'
       data-login_uri='<%= Settings.external.google_callback_url %>'
       data-prompt_parent_id='g_id_onload'
       data-authenticity_token='<%= form_authenticity_token %>'
       data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="sign_in_with"
       data-shape="rectangular"
       data-logo_alignment="left">
  </div>
<% end %>
<br>
<%= link_to "ユーザー登録", signup_path, class: "btn btn-light btn-outline-secondary" %><br>
<br>
<div class="card">
  <div class="card-header">
    <div class="float-start">
      <%= link_to root_path(query_params), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
      &nbsp;ログイン
    </div>
  </div>
  <div class="card-block">
    <br>
    <%= render "users/sessions/form/new" %>
    <br>
  </div>
</div>
