<br>
<div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
  <div class="card-body divide-y divide-gray-200">
    <div class="flex justify-start pb-1">
      <%= link_to root_path(query_params), class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>ログイン
    </div>
    <div>
      <div class="flex justify-center gap-2 mb-2">
        <% if Settings.google.client_id.present? %>
          <script src="https://accounts.google.com/gsi/client" async defer></script>
          <div id='g_id_onload'
               data-client_id='<%= Settings.google.client_id %>'
               data-login_uri='<%= Settings.external.google_callback_url %>'
               data-prompt_parent_id='g_id_onload'
               data-authenticity_token='<%= form_authenticity_token %>'
               data-auto_prompt="false">
          </div>
          <div class="g_id_signin"
               data-type="standard"
               data-size="large"
               data-theme="outline"
               data-text="sign_in_with"
               data-shape="rectangular"
               data-logo_alignment="left">
          </div>
        <% end %>
        <%= link_to "ユーザー登録", signup_path, class: "btn btn-outline btn-primary" %>
      </div>
      <%= render "users/sessions/form/new" %>
    </div>
  </div>
</div>
