<div class="flex justify-center mb-2">
  <%= render ::Display::Image::Component.new(model: @user) %>
</div>
<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[9em]">
          ユーザー名
        </td>
        <td>
          <%= @user.name %>
          <%= @form.hidden_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          Eメール
        </td>
        <td>
          <%= @user.email %>
          <%= @form.hidden_field :email %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t("activerecord.attributes.user.profile") %>
        </td>
        <td class="wrap-break-word">
          <%= simple_format(h(@user.profile)) %>
          <%= @form.hidden_field :profile %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t("activerecord.attributes.user.time_zone") %>
        </td>
        <td>
          <div><%= @user.time_zone %></div>
          <%= @form.hidden_field :time_zone %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <button type="submit" class="btn btn-outline btn-primary" data-turbo-prefetch="false">
    <span class="show-when-enabled">更新</span>
    <span class="show-when-disabled">送信中...</span>
  </button>
  <%= @form.submit "戻る", class: "btn btn-outline btn-warning" %>
</div>
