<%= render Users::Preview::Image::Component.new(user: @user, original: false) %>
<div class="flex justify-center">
  <div class="grid grid-cols-[80px_1fr] border border-gray-100 rounded bg-base-00 p-3 rounded-[10px]">
    <div class="col-span-2 w-120"></div>
    <label for="name" class="flex items-center">ユーザー名：</label>
    <div class="">
      <div class=""><%= @user.name %></div>
      <%= @form.hidden_field :name %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="email" class="flex items-center">Eメール：</label>
    <div class="">
      <div class=""><%= @user.email %></div>
      <%= @form.hidden_field :email %>
    </div>
  </diV>
</div>
<div class="flex justify-center gap-2 mt-2">
  <button type=submit class="btn btn-outline btn-primary">
    <span class="show-when-enabled">更新</span>
    <span class="show-when-disabled">送信中...</span>
  </button>
  <%= @form.submit "戻る", class: "btn btn-outline btn-warning" %>
</div>
