<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td style="width: 11em;">
          <label for="file" class="">ファイル</label>
        </td>
        <td>
          <%= @form.file_field :file, accept: "image/jpg,image/jpeg,image/png", multiple: false,
                                      class: "file-input", "data-preview-target": "upload" %><%#= @form.file_field :file, multiple: false, class: 'file-input' %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render Image::Preview::Component.new(model: @frame) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name" class="">名前</label>
        </td>
        <td>
          <%= @form.text_field :name, placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="tag_list" class="">タグ</label>
        </td>
        <td>
          <input type="text" name="tag_editor" id="tag_editor" value="" data-tagify-target="te" class="input h-auto" autocomplete="off">
          <%= @form.hidden_field :tag_list, id: "tag_list", "data-tagify-target": "tl", value: @frame.tag_list.join(",") %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="creator_name" class="">撮影者/作者</label>
        </td>
        <td>
          <%= @form.text_field :creator_name, placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="shooted_at" class="">撮影日時</label>
        </td>
        <td>
          <%= @form.datetime_local_field :shooted_at, class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="comment" class="">コメント</label>
        </td>
        <td style="word-break: break-all;">
          <%= @form.text_area :comment, class: "block text-sm border rounded border-gray-300 w-full" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning" %>
</div>
