<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[9em]">
          ファイル
        </td>
        <td>
          <%= @form.file_field :file, accept: "image/jpg,image/jpeg,image/png,image/webp,image/avif", multiple: false,
                                      class: "file-input", "data-preview-target": "upload" %><%#= @form.file_field :file, multiple: false, class: "file-input" %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="hidden" data-preview-target="content">
          <%= render ::Preview::Image::Component.new(model: @frame) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="frame_name">名前</label>
        </td>
        <td>
          <%= @form.text_field :name, placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          タグ
        </td>
        <td>
          <%= text_field_tag "", "", placeholder: "", class: "input h-auto", autocomplete: "off", "data-tagify-target": "te" %>
          <%= @form.hidden_field :tag_list, id: "tag_list", "data-tagify-target": "tl", value: @frame.tag_list %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="frame_creator_name">撮影者/作者</label>
        </td>
        <td>
          <%= @form.text_field :creator_name, placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="frame_shooted_at">撮影日時</label>
        </td>
        <td>
          <%= @form.datetime_local_field :shooted_at, class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="frame_comment">コメント</label>
        </td>
        <td class="wrap-break-word">
          <%= @form.text_area :comment, class: "block text-sm border border-gray-300 rounded w-full min-h-12.5 field-sizing-content" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="frame_private">プライベート</label>
        </td>
        <td>
          <%= @form.check_box :private, {}, "draft", "final" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning" %>
</div>
