
<div id="users">
  <%= form_for(resource, as: resource_name, method: :post, url: session_path(resource_name)) do |form| %>
    <div class="flex justify-center">
      <table class="table table-bordered table-rounded">
        <tbody>
          <tr>
            <td class="w-[8em]">
              <label for="email"><%= t("activerecord.attributes.user.email") %></label>
            </td>
            <td>
              <%= form.text_field :email, placeholder: "", autofocus: true, autocomplete: "email",
                                          class: "input" %>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password"><%= t("activerecord.attributes.user.password") %></label>
            </td>
            <td>
              <%= form.password_field :password, placeholder: "", autocomplete: "current-password",
                                                 class: "input" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center gap-2 mt-2">
      <%= form.submit "ログイン", class: "btn btn-outline btn-primary" %>
      <%= link_to "戻る", prev_url_for(path: login_path), class: "btn btn-outline btn-warning", "data-turbo": true %>
    </div>
  <% end %>
</div>
