<%= turbo_frame_tag 'users' do %>
  <%= render Toast::Component.new(flash:, flashes: @flashes) %>
  <%= form_with model: @user, url: update_profile_path, local: true do |form| %>
    <br>
    <div class="card" data-controller="preview">
      <div class="card-header">
        <div class="float-start">
          <%= link_to profile_path, "data-turbo-frame": '_top' do %><i class="bi bi-arrow-left-circle"></i><% end %>
          プロフィール編集
        </div>
      </div>
      <div class="card-block">
        <br>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <% if @user.confirming == 'true' %>
        <%= render Users::Edit::Confirm::Component.new(form:, user: @user) %>
        <% else %>
        <%= render Users::Edit::Input::Component.new(form:, user: @user, back_to_path: profile_path) %>
        <%= form.hidden_field :confirming %>
        <% end %>
        <br>
      </div>
    </div>
  <% end %>
<% end %>
