<%= turbo_frame_tag 'users' do %>
<%= form_with model: @user, local: true do |form| %>
<br>
<div class="card">
  <div class="card-header">
    ユーザー登録
  </div>
  <div class="card-block">
    <br>
    <% @user.errors.full_messages.each do |message| %>
    <div class="d-flex justify-content-md-center">
      <div class="alert alert-warning col-md-6" role="alert">
        <%= message %>
      </div>
    </div>
    <% end %>
    <br>
    <% unless @user.confirming == 'true' %>
    <div class="d-flex justify-content-md-center">
      <label for="name" class="form-label col-md-2 label-bg-style">ユーザー名</label>
      <div class="form-group col-md-4">
        <%= form.text_field :name, placeholder: 'ユーザー名', class: 'form-control' %>
      </div>
    </div>
    <div class="d-flex justify-content-md-center">
      <label for="email" class="form-label col-md-2 label-bg-style">Eメール</label>
      <div class="form-group col-md-4">
        <%= form.text_field :email, placeholder: 'Eメール', class: 'form-control' %>
      </div>
    </div>
    <div class="d-flex justify-content-md-center">
      <label for="password" class="form-label col-md-2 label-bg-style">パスワード</label>
      <div class="form-group col-md-4">
        <%= form.password_field :password, placeholder: 'パスワード', class: 'form-control' %>
      </div>
    </div>
    <div class="d-flex justify-content-md-center">
      <label for="password_confirmation" class="form-label col-md-2 label-bg-style">パスワード(確認)</label>
      <div class="form-group col-md-4">
        <%= form.password_field :password_confirmation, placeholder: 'パスワード(確認)', class: 'form-control' %>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-md-center">
      <div class="form-group col-md-6">
        <%= form.submit '内容を確認', class: 'btn btn-primary' %>
        <%= link_to '戻る', login_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <%= form.hidden_field :confirming %>
    <% else %>
    <div class="d-flex justify-content-md-center">
      <label for="name" class="form-label col-md-2 label-bg-style">ユーザー名</label>
      <div class="form-group col-md-4">
        <%= @user.name %>
        <%= form.hidden_field :name %>
      </div>
    </div>
    <div class="d-flex justify-content-md-center">
      <label for="email" class="form-label col-md-2 label-bg-style">Eメール</label>
      <div class="form-group col-md-4">
        <%= @user.email %>
        <%= form.hidden_field :email %>
      </div>
    </div>
    <div class="d-flex justify-content-md-center">
      <label for="passowrd" class="form-label col-md-2 label-bg-style">パスワード</label>
      <div class="form-group col-md-4">
        <%= @user.password %>
        <%= form.hidden_field :password %>
      </div>
    </div>
    <%= form.hidden_field :password_confirmation %>
    <br>
    <div class="d-flex justify-content-md-center">
      <div class="form-group col-md-6">
        <%= form.submit '登録', class: 'btn btn-primary' %>
        <%= form.submit '戻る', class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <% end %>
    <br>
  </div>
</div>
<% end %>
<% end %>
