<%= turbo_frame_tag 'users' do %>
  <%= form_with model: @user, local: true do |form| %>
    <br>
    <div class="card" data-controller="preview">
      <div class="card-header">
        <div class="float-start">
          <%= link_to login_path, "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
          ユーザー登録
        </div>
      </div>
      <div class="card-block">
        <br>
        <%= render(partial: 'layouts/error_messages', locals: {model: @user}) %>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <% unless @user.confirming == 'true' %>
        <%= render(partial: 'users/new/input', locals: {form: form, user: @user}) %>
        <%= form.hidden_field :confirming %>
        <% else %>
        <%= render(partial: 'users/new/confirm', locals: {form: form, user: @user}) %>
        <% end %>
        <br>
      </div>
    </div>
  <% end %>
<% end %>
