<%= turbo_frame_tag "users" do %>
  <br>
  <div class="card">
    <div class="card-header">
      <div class="float-start">
        <%= link_to request.referer, "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
        <%= @user.name %>
      </div>
    </div>
    <div class="card-block">
      <br>
      <%= render(partial: 'sessions/preview/image', locals: {user: @user, original: false}) %>
      <div class="row d-flex justify-content-sm-center">
        <div class="col-sm-6 text-center">
        <% if logged_in? && @user.id != current_user.id %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー中", user_follow_relationships_path(@user.id), data: { turbo_method: :delete } %>
          <% else %>
            <%= link_to "フォローする", user_follow_relationships_path(@user.id), data: { turbo_method: :post } %>
          <% end %>
        <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
<% end %>