<div id="users">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
    <div class="card-body divide-y divide-gray-200">
      <div class="flex justify-start pb-1">
        <%= link_to back_to_path, class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %><%= @user.name %>
      </div>
      <div>
        <%= render Sessions::Preview::Image::Component.new(user: @user, original: false) %>
        <div class="flex justify-center mt-2">
          <% if user_signed_in? && @user.id != current_user.id %>
            <% if current_user.following?(@user) %>
              <%= link_to user_follow_relationships_path(@user.id, query_map_with_ref), data: { turbo_method: :delete } do %><button type="button" class="btn btn-outline btn-primary btn-sm">フォローを外す</button><% end %>
            <% else %>
              <%= link_to user_follow_relationships_path(@user.id, query_map_with_ref), data: { turbo_method: :post } do %><button type="button" class="btn btn-outline btn-primary btn-sm">フォローする</button><% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="list" class="pt-2">
    <%= render partial: "frames/more/list", locals: { frames: @frames, page: "user_profile" } %>
  </div>

  <div class="flex justify-center">
    <div class="mx-auto rounded-[5px] pt-2">
      <%== @pagy.series_nav %>
    </div>
  </div>
</div>
