<%= turbo_frame_tag "users" do %>
  <br>
  <div class="card">
    <div class="card-header">
      <div class="float-start">
        <%= link_to back_to_path, "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
        <%= @user.name %>
      </div>
    </div>
    <div class="card-block">
      <br>
      <%= render Sessions::Preview::Image::Component.new(user: @user, original: false) %>
      <div class="row d-flex justify-content-sm-center">
        <div class="col-sm-6 text-center">
        <% if logged_in? && @user.id != current_user.id %>
          <% if current_user.following?(@user) %>
            <%= link_to user_follow_relationships_path(@user.id, ref_params), data: { turbo_method: :delete } do %><button type="button" class="btn btn-primary btn-sm">フォローを外す</button><% end %>
          <% else %>
            <%= link_to user_follow_relationships_path(@user.id, ref_params), data: { turbo_method: :post } do %><button type="button" class="btn btn-outline-primary btn-sm">フォローする</button><% end %>
          <% end %>
        <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
<% end %>
