<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[11em]">
          アイコン
        </td>
        <td>
          <%= @form.file_field :image, accept: "image/jpg,image/jpeg,image/png,image/webp,image/avif",
                                       multiple: false,
                                       class: "file-input",
                                       "data-preview-target": "upload" %><%#= @form.file_field :image, multiple: false, class: "file-input" %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render ::Preview::Image::Component.new(model: @user) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_name">ユーザー名</label>
        </td>
        <td>
          <%= @form.text_field :name, autofocus: true, autocomplete: "username", placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_email"><%= t("activerecord.attributes.user.email") %></label>
        </td>
        <td>
          <%= @form.email_field :email, placeholder: "", autofocus: true, autocomplete: "email",
                                        class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_profile"><%= t("activerecord.attributes.user.profile") %></label>
        </td>
        <td class="wrap-break-word">
          <%= @form.text_area :profile, class: "block text-sm border border-gray-300 rounded w-full min-h-[50px] field-sizing-content" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_time_zone"><%= t("activerecord.attributes.user.time_zone") %></label>
        </td>
        <td>
          <% @user.time_zone = Time.zone.name %>
          <%= @form.select :time_zone, UsersHelper.tzinfo_options, {}, class: "select" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_password"><%= t("activerecord.attributes.user.password") %></label>
        </td>
        <td>
          <%= @form.password_field :password, placeholder: "", autocomplete: "new-password",
                                              class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_password_confirmation">パスワード(確認)</label>
        </td>
        <td>
          <%= @form.password_field :password_confirmation, placeholder: "", autocomplete: "new-password",
                                                           class: "input" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning" %>
</div>
