<div id="users">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
    <div class="flex justify-between pl-4 pr-4 pt-1 pb-1">
      <div>
        <%= link_to helpers.back_to_path, class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>
      </div>
      <div class="flex items-center">
        <div class="link" onclick="user_profile_modal.showModal()"><%= @user.name %></div>
      </div>
      <div>
        <% if helpers.user_signed_in? && @user.id != helpers.current_user.id %>
          <% if helpers.current_user.following?(@user) %>
            <%= link_to user_follow_relationships_path(@user.id, helpers.query_map), data: { turbo_method: :delete } do %><button type="button" class="btn btn-outline btn-primary btn-xs">フォローを外す</button><% end %>
          <% else %>
            <%= link_to user_follow_relationships_path(@user.id, helpers.query_map), data: { turbo_method: :post } do %><button type="button" class="btn btn-outline btn-primary btn-xs">フォローする</button><% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <dialog id="user_profile_modal" class="modal">
    <div class="modal-box">
      <div class="flex gap-1">
        <%= render ::Display::Image::Component.new(model: @user, small: true) %>
        <table class="table table-bordered table-rounded flex-auto">
          <tbody>
            <tr>
              <td class="flex wrap-break-word items-baseline">
                <%= simple_format(h(@user.profile)) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</div>
