<%= render Frames::Preview::Tags::Component.new(tag_paths: @tag_paths, link: false) %>
<%= @form.hidden_field :tag_list, value: @frame.joined_tags %>
<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[8em]">
          <label for="name" class="">名前</label>
        </td>
        <td>
          <%= @frame.name %>
          <%= @form.hidden_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="creator_name" class="">撮影者/作者</label>
        </td>
        <td>
          <%= @frame.creator_name %>
          <%= @form.hidden_field :creator_name %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="shooted_at" class="">撮影日時</label>
        </td>
        <td>
          <%= @frame.shooted_at.present? ? l(@frame.shooted_at) : "" %>
          <%= @form.hidden_field :shooted_at %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="comment" class="">コメント</label>
        </td>
        <td class="wrap-break-word">
          <%= simple_format(h(@frame.comment)) %>
          <%= @form.hidden_field :comment %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <button type="submit" class="btn btn-outline btn-primary">
    <span class="show-when-enabled">更新</span>
    <span class="show-when-disabled">送信中...</span>
  </button>
  <%= @form.submit "戻る", class: "btn btn-outline btn-warning" %>
</div>
