<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[11em]">
          <label for="user_current_password">現在のパスワード</label>
        </td>
        <td>
          <%= @form.password_field :current_password, autofocus: true, autocomplete: "current-password", placeholder: "", class: "input" %>
          <%= render Display::Messages::Component.new(model: @user, attr: :current_password) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_password">パスワード</label>
        </td>
        <td>
          <%= @form.password_field :password, placeholder: "", autocomplete: "new-password", class: "input" %>
          <%= render Display::Messages::Component.new(model: @user, attr: :password) %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="user_password_confirmation">パスワード(確認)</label>
        </td>
        <td>
          <%= @form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "", class: "input" %>
          <%= render Display::Messages::Component.new(model: @user, attr: :password_confirmation) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= render Form::Element::Button::Submit::Component.new(label: "更新") %>
  <%= render Form::Element::Link::Back::Component.new(url: @back_to_path) %>
</div>
