<div class="flex justify-center">
  <div class="grid grid-cols-[130px_1fr] border border-gray-100 bg-base-00 p-3 rounded-[10px]">
    <div class="col-span-2 w-120"></div>
    <label for="image" class="flex items-center">アイコン：</label>
    <div class="">
      <%= @form.file_field :image, accept: "image/jpg,image/jpeg,image/png",
                                   multiple: false,
                                   class: "file-input",
                                   "data-preview-target": "upload" %><%#= @form.file_field :image, multiple: false, class: 'file-input' %>
    </div>
    <%= render Image::Preview::Component.new(model: @user) %>
    <div class="col-span-2 divider h-0"></div>
    <% if @user.social_login? %>
      <label for="name" class="flex items-center">ユーザー名：</label>
      <div class="">
        <div class=""><%= @user.name %></div>
        <%= @form.hidden_field :name %>
      </div>
      <div class="col-span-2 divider h-0"></div>
      <label for="email" class="flex items-center">Eメール：</label>
      <div class="">
        <div class=""><%= @user.email %></div>
        <%= @form.hidden_field :email %>
      </div>
    <% else %>
      <label for="name" class="flex items-center">ユーザー名：</label>
      <div class="">
        <%= @form.text_field :name, autofocus: true, autocomplete: "username", placeholder: "ユーザー名", class: "input" %>
      </div>
      <div class="col-span-2 divider h-0"></div>
      <label for="email" class="flex items-center">Eメール：</label>
      <div class="">
        <%= @form.email_field :email, autocomplete: "email", placeholder: "Eメール", class: "input" %>
      </div>
    <% end %>
  </div>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning" %>
</div>
