<div class="row d-flex justify-content-sm-center">
  <label for="image" class="col-form-label col-sm-3 label-bg-style">アイコン：</label>
  <div class="form-group col-sm-4">
    <%= @form.file_field :image, accept: 'image/jpg,image/jpeg,image/png',
                                 multiple: false,
                                 class: 'form-control-file',
                                 "data-preview-target": 'upload' %><%#= @form.file_field :image, multiple: false, class: 'form-control-file' %>
  </div>
</div>
<%= render Image::Preview::Component.new(model: @user) %>
<% if @user.social_login? %>
  <div class="row d-flex justify-content-sm-center">
    <label for="name" class="form-label col-sm-3 label-bg-style">ユーザー名：</label>
    <div class="form-group col-sm-4">
      <div class="form-control-plaintext"><%= @user.name %></div>
      <%= @form.hidden_field :name %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="email" class="form-label col-sm-3 label-bg-style">Eメール：</label>
    <div class="form-group col-sm-4">
      <div class="form-control-plaintext"><%= @user.email %></div>
      <%= @form.hidden_field :email %>
    </div>
  </div>
<% else %>
  <div class="row d-flex justify-content-sm-center border border-white">
    <label for="name" class="col-form-label col-sm-3 label-bg-style">ユーザー名：</label>
    <div class="form-group col-sm-4">
      <%= @form.text_field :name, placeholder: 'ユーザー名', class: 'form-control' %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center border border-white">
    <label for="email" class="col-form-label col-sm-3 label-bg-style">Eメール：</label>
    <div class="form-group col-sm-4">
      <%= @form.text_field :email, placeholder: 'Eメール', class: 'form-control' %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center border border-white">
    <label for="password" class="col-form-label col-sm-3 label-bg-style">パスワード：</label>
    <div class="form-group col-sm-4">
      <%= @form.password_field :password, placeholder: 'パスワード', class: 'form-control' %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center border border-white">
    <label for="password_confirmation" class="col-form-label col-sm-3 label-bg-style">パスワード(確認)：</label>
    <div class="form-group col-sm-4">
      <%= @form.password_field :password_confirmation, placeholder: 'パスワード(確認)', class: 'form-control' %>
    </div>
  </div>
<% end %>
<br>
<div class="d-flex justify-content-sm-center">
  <div class="form-group col-sm-6">
    <%= @form.submit '内容を確認', class: 'btn btn-primary' %>
    <%= link_to '戻る', @back_to_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
