<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[9em]">
          <label for="image">アイコン</label>
        </td>
        <td>
          <%= @form.file_field :image, accept: "image/jpg,image/jpeg,image/png,image/webp,image/avif",
                                       multiple: false,
                                       class: "file-input",
                                       "data-preview-target": "upload" %><%#= @form.file_field :image, multiple: false, class: "file-input" %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render ::Preview::Image::Component.new(model: @user) %>
        </td>
      </tr>
      <% if @user.social_login? %>
      <tr>
        <td>
          ユーザー名
        </td>
        <td>
          <%= @user.name %>
          <%= @form.hidden_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          Eメール
        </td>
        <td>
          <%= @user.email %>
          <%= @form.hidden_field :email %>
        </td>
      </tr>
      <% else %>
      <tr>
        <td>
          <label for="name">ユーザー名</label>
        </td>
        <td>
          <%= @form.text_field :name, autofocus: true, autocomplete: "username", placeholder: "", class: "input" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">Eメール</label>
        </td>
        <td>
          <%= @form.email_field :email, autocomplete: "email", placeholder: "", class: "input" %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          <label for="profile"><%= t("activerecord.attributes.user.profile") %></label>
        </td>
        <td class="wrap-break-word">
          <%= @form.text_area :profile, class: "block text-sm border border-gray-300 rounded w-full min-h-[50px] field-sizing-content" %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="time_zone"><%= t("activerecord.attributes.user.time_zone") %></label>
        </td>
        <td>
          <% @user.time_zone = Time.zone.name if @user.time_zone.blank? %>
          <%= @form.select :time_zone, UsersHelper.tzinfo_options, {}, class: "select" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning" %>
</div>
