<%= render Users::Preview::Image::Component.new(user: @user, original: false) %>
<div class="row d-flex justify-content-sm-center">
  <label for="name" class="form-label col-sm-3 label-bg-style">ユーザー名：</label>
  <div class="form-group col-sm-4">
    <div class="form-control-plaintext"><%= @user.name %></div>
    <%= @form.hidden_field :name %>
  </div>
</div>
<div class="row d-flex justify-content-sm-center">
  <label for="email" class="form-label col-sm-3 label-bg-style">Eメール：</label>
  <div class="form-group col-sm-4">
    <div class="form-control-plaintext"><%= @user.email %></div>
    <%= @form.hidden_field :email %>
  </div>
</div>
<div class="row d-flex justify-content-sm-center">
  <label for="password" class="form-label col-sm-3 label-bg-style">パスワード：</label>
  <div class="form-group col-sm-4">
    <div class="form-control-plaintext"><%= @user.password %></div>
    <%= @form.hidden_field :password %>
  </div>
</div>
<%= @form.hidden_field :password_confirmation %>
<br>
<div class="row d-flex justify-content-sm-center">
  <div class="form-group col-sm-6">
    <button type="submit" class="btn btn-primary">
      <span class="show-when-enabled">登録</span>
      <span class="show-when-disabled">送信中...</span>
    </button>
    <%= @form.submit '戻る', class: 'btn btn-outline-secondary' %>
  </div>
</div>
