<%= render ::Preview::Image::Component.new(model: @user) %>
<div class="flex justify-center">
  <table class="table table-bordered table-rounded">
    <tbody>
      <tr>
        <td class="w-[8em]">
          <label for="name" class="">ユーザー名</label>
        </td>
        <td>
          <div class=""><%= @user.name %></div>
          <%= @form.hidden_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="email" class="">Eメール</label>
        </td>
        <td>
          <div class=""><%= @user.email %></div>
          <%= @form.hidden_field :email %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="time_zone" class=""><%= t("activerecord.attributes.user.time_zone") %></label>
        </td>
        <td>
          <div class=""><%= @user.time_zone %></div>
          <%= @form.hidden_field :time_zone %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= @form.hidden_field :password %>
<%= @form.hidden_field :password_confirmation %>
<div class="flex justify-center gap-2 mt-2">
  <button type="submit" class="btn btn-outline btn-primary">
    <span class="show-when-enabled">登録</span>
    <span class="show-when-disabled">送信中...</span>
  </button>
  <%= @form.submit "戻る", class: "btn btn-outline btn-warning" %>
</div>
