<div class="card-block">
  <%= render Frames::Preview::Image::Component.new(frame: @frame, original: true, spotlight: false) %>
  <%= render Frames::Preview::Tags::Component.new(tag_paths: @tag_paths) %>
  <%= @form.hidden_field :tag_list, value: @frame.tag_list.join(',') %>
  <div class="row d-flex justify-content-sm-center">
    <label for="name" class="col-form-label col-sm-3">名前：</label>
    <div class="form-group col-sm-4">
      <div class="form-control-plaintext"><%= @frame.name %></div>
      <%= @form.hidden_field :name %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="name" class="col-form-label col-sm-3">撮影日時：</label>
    <div class="form-group col-sm-4">
      <div class="form-control-plaintext"><%= @frame.shooted_at.present? ? l(@frame.shooted_at) : '' %></div>
      <%= @form.hidden_field :shooted_at %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="comment" class="col-form-label col-sm-3">コメント：</label>
    <div class="form-group col-sm-4">
      <div class="form-control-plaintext"><%= simple_format(h(@frame.comment)) %></div>
      <%= @form.hidden_field :comment %>
    </div>
  </div>
  <br>
</div>
<div class="card-footer">
  <div class="d-flex justify-content-sm-center">
    <div class="form-group col-sm-6">
      <button type="submit" class="btn btn-primary">
        <span class="show-when-enabled">登録</span>
        <span class="show-when-disabled">送信中...</span>
      </button>
      <%= @form.submit '戻る', class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
