<%= render Frames::Preview::Image::Component.new(frame: @frame, original: true, photoswipe: false) %>
<%= render Frames::Preview::Tags::Component.new(tag_paths: @tag_paths, link: false) %>
<%= @form.hidden_field :tag_list, value: @frame.tag_list.join(",") %>
<div class="flex justify-center">
  <div class="grid grid-cols-[70px_1fr] border border-gray-100 bg-base-00 p-3 rounded-[10px]">
    <div class="col-span-2 w-120"></div>
    <label for="name" class="flex items-center">名前：</label>
    <div class="justify-start">
      <div class=""><%= @frame.name %></div>
      <%= @form.hidden_field :name %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="shooted_at" class="flex items-center">撮影日時：</label>
    <div class="justify-start">
      <div class=""><%= @frame.shooted_at.present? ? l(@frame.shooted_at) : "" %></div>
      <%= @form.hidden_field :shooted_at %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="comment" class="flex items-center">コメント：</label>
    <div class="">
      <div class=""><%= simple_format(h(@frame.comment)) %></div>
      <%= @form.hidden_field :comment %>
    </div>
  </div>
</div>
<div class="flex justify-center gap-2 mt-2">
  <button type="submit" class="btn btn-outline btn-primary">
    <span class="show-when-enabled">登録</span>
    <span class="show-when-disabled">送信中...</span>
  </button>
  <%= @form.submit "戻る", class: "btn btn-outline btn-warning" %>
</div>
