<%= turbo_frame_tag "frames" do %>
  <%= render Toast::Component.new(flash:, flashes: @flashes) %>
  <br>
  <div data-controller="luminous tagify preview">
    <div class="card">
      <div class="card-block">
        <div class="row d-flex">
          <div class="col-12 clearfix">
            <div class="float-start">
              &nbsp;<%= link_to frame_path(@frame), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
            </div>
          </div>
        </div>
        <br>
        <%= render Frames::Preview::Image::Component.new(frame: @frame, original: true, photoswipe: false) %>
        <%= form_with model: @frame, local: true do |form| %>
          <%= form.hidden_field :file, value: form.object.cached_file_data %>
          <% if @frame.confirming == 'true' %>
            <%= render Frames::Edit::Confirm::Component.new(form:, frame: @frame, tag_paths: tag_paths(@frame)) %>
          <% else %>
            <%= render Frames::Edit::Input::Component.new(form:, frame: @frame,
                                                          back_to_path: frame_path(@frame, query_params)) %>
            <%= form.hidden_field :confirming %>
          <% end %>
          <%= query_params_hidden_field_tags %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
