<%= turbo_frame_tag "frames" do %>
  <br>
  <div data-controller="frame preview">
    <%= form_with model: @frame, local: true do |form| %>
      <div class="card">
        <div class="card-block">
        <div class="row d-flex">
          <div class="col-12 clearfix">
            <div class="float-start">
              &nbsp;<%= link_to frame_path(@frame), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
            </div>
          </div>
        </div>
      </div>
        <div class="card-block">
          <%= render(partial: 'layouts/error_messages', locals: {model: @frame}) %>
        </div>
        <%= form.hidden_field :file, value: form.object.cached_file_data %>
        <%= render(partial: 'frames/preview/image', locals: {frame: @frame, original: true, spotlight: false}) %>
        <% unless @frame.confirming == 'true' %>
        <%= render(partial: 'frames/edit/input', locals: {form: form, frame: @frame}) %>
        <%= form.hidden_field :confirming %>
        <% else %>
        <%= render(partial: 'frames/edit/confirm', locals: {form: form, frame: @frame}) %>
        <% end %>
        <%= query_params_hidden_field_tags %>
      </div>
      <br>
    <% end %>
  </div>
<% end %>
