<%= turbo_frame_tag "frames" do %>
  <br>
  <div data-controller="frame">
    <%= form_with model: @frame, local: true do |form| %>
      <div class="card">
        <div class="card-block">
          <br>
          <% @frame.errors.full_messages.each do |message| %>
          <div class="d-flex justify-content-sm-center">
            <div class="alert alert-warning col-sm-6 alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <% end %>
          <br>
          <% if @frame.image.present? %>
          <div class="d-flex justify-content-sm-center">
            <%= link_to attachment_image_tag(@frame, :image, :fit, 300, 300, class: 'mx-auto'), attachment_url(@frame, :image, format: 'jpg'), class: 'mx-auto', "data-frame-target": "lm" %>
          </div>
          <%= form.hidden_field :image, value: form.object.image_data.to_json %>
          <br>
          <% end %>
          <% unless @frame.confirming == 'true' %>
          <div class="row d-flex justify-content-sm-center border border-white">
            <label for="name" class="col-form-label-sm col-sm-2 label-bg-style">名前</label>
            <div class="col-sm-4">
              <%= form.text_field :name, placeholder: "名前", class: 'form-control' %>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center border border-white">
            <label for="tag_list" class="col-form-label-sm col-sm-2 label-bg-style">タグ</label>
            <div class="col-sm-4">
            <input type="text" name="tag_editor" id="tag_editor" value="" data-frame-target="te" class="form-control" >
              <%= form.hidden_field :tag_list, id: 'tag_list', "data-frame-target": "tl", value: @frame.tag_list.join(",") %>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center border border-white">
            <label for="comment" class="col-form-label-sm col-sm-2 label-bg-style">コメント</label>
            <div class="col-sm-4">
              <%= form.text_area :comment, class: 'form-control' %>
             </div>
          </div>
          <br>
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <%= form.submit '内容を確認', class: 'btn btn-primary' %>
              <%= link_to '戻る', frame_path(@frame), class: 'btn btn-outline-secondary', "data-turbo": false %>
            </div>
          </div>
          <%= form.hidden_field :confirming %>
          <% else %>
          <% tags = @frame.tags_preview %>
          <% if tags.size > 0 %>
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <% tags.each do |tag| %>
              <a class="btn btn-outline-info btn-sm">
                <%= tag %>
              </a>
              <% end %>
            </div>
          </div>
          <br>
          <% end %>
          <%= form.hidden_field :tag_list, value: @frame.tag_list.join(",") %>
          <div class="row d-flex justify-content-sm-center border border-white">
            <label for="name" class="col-form-label-sm col-sm-2 label-bg-style">名前</label>
            <div class="col-sm-4">
              <%= @frame.name %>
              <%= form.hidden_field :name %>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center border border-white">
            <label for="comment" class="col-form-label-sm col-sm-2 label-bg-style">コメント</label>
            <div class="col-md-4">
              <%= simple_format(h(@frame.comment)) %>
              <%= form.hidden_field :comment %>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-sm-center">
            <div class="col-sm-6">
              <%= form.submit '更新', class: 'btn btn-primary' %>
              <%= form.submit '戻る', class: 'btn btn-outline-secondary' %>
            </div>
          </div>
          <% end %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
