<div class="row col-sm-12">
  <%= turbo_frame_tag "users" do %><% end %>
  <div id="frames">
    <br>
    <%= render partial: "frames/more/load_prev", locals: { pagy: @pagy, word: @word } %>
    <div id="list" class="row">
      <%= render partial: "frames/more/list", locals: { frames: @frames } %>
    </div>
    <%= render partial: "frames/more/load_next", locals: { pagy: @pagy, word: @word } %>
  </div>
  <% if false %><div class="d-flex col-sm-12 justify-content-sm-center">
    <div class="mx-auto kadomaru" style="padding-top: 20px;">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div><% end %>
</div>
<br>
