<%= turbo_frame_tag "frames" do %>
  <br>
  <div data-controller="frame preview">
    <%= form_with model: @frame, local: true, "data-controller": "frame preview" do |form| %>
      <div class="card">
        <div class="card-header">
          <div class="float-start">
            &nbsp;<%= link_to root_path(query_params), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
            アップロード
          </div>
        </div>
        <div class="card-block">
          <br>
          <%= render(partial: 'frames/error_messages', locals: {model: @frame}) %>
          <br>
        </div>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <% unless @frame.confirming == 'true' %>
        <%= render(partial: 'frames/new/input', locals: {form: form, frame: @frame}) %>
        <%= form.hidden_field :confirming %>
        <% else %>
        <%= render(partial: 'frames/new/confirm', locals: {form: form, frame: @frame}) %>
        <% end %>
        <%= query_params_hidden_field_tags %>
      </div>
      <br>
    <% end %>
  </div>
<% end %>
