<div id="frames">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
    <div class="card-body">
      <div class="flex justify-between">
        <div>
          <%= link_to root_path(query_map) do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>
        </div>
        <div>
          <%= l @frame.updated_at %>
        </div>
      </div>
      <%= render Frames::Preview::Image::Component.new(frame: @frame, original: true, photoswipe: true) %>
      <%= render Frames::Preview::Tags::Component.new(tag_paths: tag_paths(@frame)) %>
      <div class="flex justify-center">
        <div class="grid grid-cols-[70px_1fr] border border-gray-100 rounded bg-base-00 p-3 rounded-[10px]">
          <div class="col-span-2 w-120"></div>
          <label for="name" class="flex items-center">名前：</label>
          <div class="justify-start"><%= @frame.name %></div>
          <div class="col-span-2 divider h-0"></div>
          <label for="shooted_at" class="flex items-center">撮影日時：</label>
          <div class="justify-start"><%= @frame.shooted_at.present? ? l(@frame.shooted_at) : "" %></div>
          <div class="col-span-2 divider h-0"></div>
          <label for="comment" class="flex items-center">コメント：</label>
          <div class="justify-start"><%= simple_format(h(@frame.comment)) %></div>
        </div>
      </div>
      <div class="flex justify-end">
        <%= link_to user_path(@frame.user, { ref: "frame_detail", ref_id: @frame.id }), class: "" do %>
          <%= @frame.user.name %>
        <% end %>
      </div>
      <% if user_signed_in? && @frame.user_id == current_user.id %>
      <div class="flex justify-center gap-2">
        <%= link_to "変更", edit_frame_path(@frame, query_map), class: "btn btn-outline btn-primary", "data-turbo": true %>
        <%# Button trigger modal %>
        <button type="button" class="btn btn-outline btn-secondary" onclick="delete_modal.showModal()">
          削除
        </button>
        <%= link_to "戻る", root_path(query_map), class: "btn btn-outline btn-warning" %>
      </div>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? && @frame.user_id == current_user.id %>
    <%= render Frames::Show::DeleteModal::Component.new(path: frame_path(@frame, query_map)) %>
  <% end %>
</div>
<%= render Comments::Component.new(frame: @frame) %>
