
<%= turbo_frame_tag "users" do %><% end %>
<%= turbo_frame_tag "frames" do %>
  <br>
  <div data-controller="frame">
    <div class="card">
      <div class="card-block">
        <div class="row d-flex">
          <div class="col-12 clearfix">
            <div class="float-start">
              &nbsp;<%= link_to root_path(query_params), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
            </div>
            <div class="float-end">
              <%= l @frame.updated_at %>&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <%= render(partial: 'frames/preview/image', locals: {frame: @frame, original: true, spotlight: true}) %>
        <%= render(partial: 'frames/preview/tags', locals: {frame: @frame}) %>
      </div>
      <div class="card-block">
        <div class="row d-flex justify-content-sm-center">
          <label for="name" class="col-sm-3 col-form-label">名前：</label>
          <div class="col-sm-4">
            <div class="form-control-plaintext"><%= @frame.name %></div>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-center">
          <label for="name" class="col-sm-3 col-form-label">撮影日時：</label>
          <div class="col-sm-4">
            <div class="form-control-plaintext"><%= @frame.shooted_at.present? ? l(@frame.shooted_at) : '' %></div>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-center">
          <label for="comment" class="col-sm-3 col-form-label">コメント：</label>
          <div class="col-sm-4">
            <div class="form-control-plaintext"><%= simple_format(h(@frame.comment)) %></div>
          </div>
        </div>
        <div class="row d-flex" >
          <div class="col-12 clearfix">
            <!-- <div class="float-start">
            </div> -->
            <div class="float-end">
              <%= link_to user_path(@frame.user, { ref: 'frame_detail', ref_id: @frame.id }), "data-turbo-frame": "_top", class: "text-decoration-none" do %>
                <%= @frame.user.name %>&nbsp;
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if logged_in? && @frame.user_id == current_user.id %>
      <div class="card-footer">
        <div class="row d-flex justify-content-sm-center">
          <div class="form-group col-sm-6">
            <%= link_to '変更', edit_frame_path(@frame, query_params), class: 'btn btn-primary', "data-turbo": true %>
            <%# Button trigger modal %>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_modal">
              削除
            </button>
            <%= link_to '戻る', root_path(query_params), class: 'btn btn-outline-primary', "data-turbo-frame": "_top" %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="card-block">
        <div class="row d-flex justify-content-sm-center">
          <br>
        </div>
      </div>
      <% end %>
    </div>
    <% if logged_in? && @frame.user_id == current_user.id %>
      <%= render(partial: 'frames/show/delete_modal', locals: { frame: @frame}) %>
    <% end %>
  </div>
<% end %>
<br>
<%= render CommentComponent::Component.new(frame: @frame, token: (logged_in? ? current_user.token : ''), login: (logged_in? ? true : false)) %>
