
<%= turbo_frame_tag "users" do %><% end %>
<%= turbo_frame_tag "frames" do %>
  <br>
  <div data-controller="frame">
    <div class="card">
      <div class="card-block">
        <div class="row d-flex">
          <div class="col-12 clearfix">
            <div class="float-end">
              <%= l @frame.created_at %>&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <%= render(partial: 'frames/preview/image', locals: {frame: @frame, original: true}) %>
        <%= render(partial: 'frames/preview/tags', locals: {frame: @frame}) %>
      </div>
      <div class="card-block">
        <div class="row d-flex justify-content-sm-center">
          <label for="name" class="col-form-label-sm col-sm-2">名前：</label>
          <div class="col-sm-4">
            <%= @frame.name %>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-center" >
          <label for="comment" class="col-form-label-sm col-sm-2 ">コメント：</label>
          <div class="col-sm-4">
            <%= simple_format(h(@frame.comment)) %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row d-flex justify-content-sm-center">
          <div class="form-group col-sm-6">
            <%= link_to '戻る', root_path(query_params), class: 'btn btn-primary', "data-turbo-frame": "_top" %>
            <% if logged_in? && @frame.user_id == current_user.id %>
            <%= link_to '変更', edit_frame_path(@frame, query_params), class: 'btn btn-primary', "data-turbo": true %>
              <%# Button trigger modal %>
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_modal">
                削除
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <% if false %><h5 class="modal-title" id="exampleModalLabel">イメージの削除</h5><% end %>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            削除してもよろしいですか？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">閉じる</button>
            <%= link_to '削除', frame_path(@frame, query_params), method: :delete, class: 'btn btn-outline-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= render CommentComponent::Component.new(frame: @frame, token: (logged_in? ? current_user.token : ''), login: (logged_in? ? true : false)) %>
