<div id="frames">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2">
    <div class="card-body">
      <div class="flex justify-between">
        <div>
          <%= link_to back_to_path do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>
        </div>
        <div>
          <%= link_to user_path(@frame.user, query_map_with_ref), class: "link link-hover" do %>
            <%= @frame.user.name %>
          <% end %>
        </div>
      </div>
      <div class="flex justify-center mb-2">
        <%= render ::Preview::Image::Component.new(model: @frame, original: true, photoswipe: true) %>
      </div>
      <% @tag_paths = tag_paths(@frame) %>
      <div class="flex justify-center flex-wrap gap-1 mb-2">
        <% if user_signed_in? && @frame.user_id == current_user.id %>
        <div class="badge badge-outline badge-accent rounded-full"><%= t("enums.private.#{@frame.private}") %></div>
        <% end %>
        <% if @tag_paths.size > 0 %>
        <%= render ::Preview::Tags::Component.new(tag_paths: @tag_paths) %>
        <% end %>
      </div>
      <div class="flex justify-center">
        <table class="table table-bordered table-rounded">
          <tbody>
            <tr>
              <td class="w-[9em]">
                <label for="name" class="">名前</label>
              </td>
              <td>
                <%= @frame.name %>
              </td>
            </tr>
            <tr>
              <td>
                <label for="name" class="">撮影者/作者</label>
              </td>
              <td>
                <%= @frame.creator_name %>
              </td>
            </tr>
            <tr>
              <td>
                <label for="shooted_at" class="">撮影日時</label>
              </td>
              <td>
                <%= @frame.shooted_at.present? ? l(@frame.shooted_at) : "" %>
              </td>
            </tr>
            <tr>
              <td>
                <label for="comment" class="">コメント</label>
              </td>
              <td class="wrap-break-word">
                <%= simple_format(h(@frame.comment)) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-between">
        <div><%= l @frame.created_at %></div>
        <div><%= l @frame.updated_at %></div>
      </div>
      <% if user_signed_in? && @frame.user_id == current_user.id %>
      <div class="flex justify-center gap-2">
        <%= link_to "変更", edit_frame_path(@frame, query_map), class: "btn btn-outline btn-primary", "data-turbo-prefetch": false %>
        <%# Button trigger modal %>
        <button type="button" class="btn btn-outline btn-secondary" onclick="delete_modal.showModal()">
          削除
        </button>
        <%= link_to "戻る", root_path(query_map), class: "btn btn-outline btn-warning" %>
      </div>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? && @frame.user_id == current_user.id %>
    <%= render Frames::Show::DeleteModal::Component.new(path: frame_path(@frame)) %>
  <% end %>
</div>
<%= render Comments::Component.new(frame: @frame, page: @page, q: q_str) %>
