<br>
<div class="card">
  <div class="card-block">
    <br>

    <% if @frame.image.present? %>
    <div class="row justify-content-sm-center">
      <%= link_to attachment_image_tag(@frame, :image, :fit, 300, 300, class: 'mx-auto'), attachment_url(@frame, :image, format: 'jpg'), class: 'strip mx-auto' %>
    </div>
    <br>
    <% end %>
    <div class="row justify-content-sm-center">
      <label for="name" class="col-sm-2 label-bg-style">名前</label>
      <div class="col-sm-4">
        <%= @frame.name %>
      </div>
    </div>
    <div class="row justify-content-sm-center">
      <label for="comment" class="col-sm-2 label-bg-style">コメント</label>
      <div class="col-sm-4">
        <%= simple_format(h(@frame.comment)) %>
      </div>
    </div>
    <br>
    <div class="row justify-content-sm-center">
      <div class="form-group col-sm-6">
        <%= link_to '戻る', root_path, method: :get, class: 'btn btn-primary' %>
        <%= link_to '変更', edit_frame_path(@frame), class: 'btn btn-primary' %>
        <%= link_to '削除', frame_path(@frame), method: :delete, class: 'btn btn-secondary', data: {confirm: '削除してもよろしいです？' } %>
      </div>
    </div>
  </div>
</div>
