<!-- <div class="row d-flex justify-content-sm-center">
          <label for="file" class="">ファイル：</label>
          <div class="">
            <%= @form.file_field :file, multiple: false, accept: "image/jpg,image/jpeg,image/png",
                                        class: "file-input", "data-preview-target": "upload" %><%#= @form.file_field :file, multiple: false, class: 'file-input' %>
          </div>
        </div> -->
<%#= render Image::Preview::Component.new(model: @frame) %>
<div class="flex justify-center">
  <div class="grid grid-cols-[70px_1fr] border border-gray-100 rounded bg-base-00 p-3">
    <div class="col-span-2 w-120"></div>
    <label for="name" class="flex items-center">名前：</label>
    <div class="justify-start">
      <%= @form.text_field :name, placeholder: "名前", class: "input" %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="tag_list" class="flex items-center">タグ：</label>
    <div class="justify-start">
      <input type="text" name="tag_editor" id="tag_editor" value="" data-tagify-target="te" class="input" autocomplete="off">
      <%= @form.hidden_field :tag_list, id: "tag_list", "data-tagify-target": "tl", value: @frame.tag_list.join(",") %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="shooted_at" class="flex items-center">撮影日時：</label>
    <div class="justify-start">
      <%= @form.datetime_local_field :shooted_at, class: "input" %>
    </div>
    <div class="col-span-2 divider h-0"></div>
    <label for="comment" class="flex items-center">コメント：</label>
    <div class="justify-start">
      <%= @form.text_area :comment, class: "block text-sm border rounded border-gray-300 w-full" %>
    </div>
  </div>
</div>
<div class="flex justify-center gap-2 mt-2">
  <%= @form.submit "内容を確認", class: "btn btn-outline btn-primary" %>
  <%= link_to "戻る", @back_to_path, class: "btn btn-outline btn-warning", "data-turbo": false %>
</div>
