<div class="card-block">
  <!-- <div class="row d-flex justify-content-sm-center">
            <label for="file" class="col-form-label-sm col-sm-2">ファイル：</label>
            <div class="form-group col-sm-4">
              <%= @form.file_field :file, multiple: false, accept: 'image/jpg,image/jpeg,image/png', class: 'form-control-file', "data-preview-target": "upload" %><%#= @form.file_field :file, multiple: false, class: 'form-control-file' %>
            </div>
          </div> -->
  <%#= render ImagePreview::Component.new(model: @frame) %>
  <div class="row d-flex justify-content-sm-center">
    <label for="name" class="col-form-label col-sm-3">名前：</label>
    <div class="col-sm-4">
      <%= @form.text_field :name, placeholder: "名前", class: 'form-control' %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="tag_list" class="col-form-label col-sm-3">タグ：</label>
    <div class="col-sm-4">
      <input type="text" name="tag_editor" id="tag_editor" value="" data-frame-target="te" class="form-control" >
      <%= @form.hidden_field :tag_list, id: 'tag_list', "data-frame-target": "tl", value: @frame.tag_list.join(",") %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="comment" class="col-form-label col-sm-3">撮影日時：</label>
    <div class="col-sm-4">
      <%= @form.datetime_local_field :shooted_at, class: 'form-control' %>
    </div>
  </div>
  <div class="row d-flex justify-content-sm-center">
    <label for="comment" class="col-form-label col-sm-3">コメント：</label>
    <div class="col-sm-4">
      <%= @form.text_area :comment, class: 'form-control' %>
    </div>
  </div>
  <br>
</div>
<div class="card-footer">
  <div class="d-flex justify-content-sm-center">
    <div class="col-sm-6">
      <%= @form.submit '内容を確認', class: 'btn btn-primary' %>
      <%= link_to '戻る', @back_to_path, class: 'btn btn-outline-secondary', "data-turbo": false %>
    </div>
  </div>
</div>
