<div id="frames">
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2 mt-2 mb-2">
    <div class="relative">
      <div class="flex justify-between items-center pl-4 pr-4 pt-1 pb-1">
        <div class="cursor-pointer z-0"><%# map = helpers.query_map_for_search %>
          <%= link_to helpers.back_to_path do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>
        </div>
        <div class="cursor-pointer z-0">
          <% map = Oj.dump(helpers.query_map) %>
          <%= link_to user_path(@frame.user),
                      class: "link link-hover",
                      "data-controller": "queryMap",
                      "data-action": "click->queryMap#setQueryMap",
                      "data-queryMap-q-value": map do %>
            <%= @frame.user.name %>
          <% end %>
        </div>
      </div>
      <div class="absolute inset-0 bg-opacity-0 flex justify-center items-center z-10 pointer-events-none">
        <a class="flex justify-center hover:text-primary link pt-1 pb-1 pointer-events-auto" onclick="frame_profile_modal.showModal()">
          <%= @frame.name %>
        </a>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2 mb-2">
    <div class="card-body">
      <div class="flex justify-center mb-2">
        <%= render ::Display::Image::Component.new(model: @frame, original: true, photoswipe: true) %>
      </div>
      <div class="flex justify-center flex-wrap gap-1 mb-2">
        <% if helpers.user_signed_in? && @frame.user_id == helpers.current_user.id %>
        <div class="badge badge-outline badge-accent rounded-full"><%= t("enums.private.#{@frame.private}") %></div>
        <% end %>
        <%= render ::Display::Tags::Component.new(tag_map: @tag_map) %>
      </div>
      <%= render Modal::Frames::Profile::Component.new(frame: @frame) %>
      <% if helpers.user_signed_in? && @frame.user_id == helpers.current_user.id %>
      <div class="flex justify-center gap-2">
        <%= link_to "変更", edit_frame_path(@frame), class: "btn btn-outline btn-primary", "data-turbo-prefetch": false %>
        <%# Button trigger modal %>
        <% if helpers.popover? %>
        <button type="button" class="btn btn-outline btn-secondary anchor-center-end" commandfor="delete_modal" command="toggle-popover">
          削除
        </button>
        <% else %>
        <button type="button" class="btn btn-outline btn-secondary" onclick="delete_modal.showModal()">
          削除
        </button>
        <% end %>
        <%= link_to "戻る", helpers.back_to_path, class: "btn btn-outline btn-warning" %>
      </div>
      <% end %>
    </div>
  </div>
  <% if helpers.user_signed_in? && @frame.user_id == helpers.current_user.id %>
    <% if helpers.popover? %>
    <%= render Popover::Frames::Delete::Component.new(path: frame_path(@frame)) %>
    <% else %>
    <%= render Modal::Frames::Delete::Component.new(path: frame_path(@frame)) %>
    <% end %>
  <% end %>
  <%= render Front::Component.new(path: "frame/Comments") %>
</div>
