<div id="frames">
  <br>
  <div class="card bg-base-100 shadow rounded-[20px] ml-2 mr-2" data-controller="tagify preview">
    <div class="card-body divide-y divide-gray-200">
      <div class="flex justify-start pb-1">
        <%= link_to helpers.prev_url_for(path: new_frame_path), class: "mr-1" do %><i class="bi bi-arrow-left-circle text-accent hover:text-primary"></i><% end %>アップロード
      </div>
      <%= form_with model: @frame, local: true do |form| %>
        <%= form.hidden_field :file, value: form.object.cached_file_data %>
        <% if @frame.confirming %>
          <%= render Frames::New::Confirm::Component.new(form:, frame: @frame, tag_map: FramesHelper.tag_map(frame: @frame)) %>
        <% else %>
          <%= render Frames::New::Input::Component.new(form:, frame: @frame, back_to_path: helpers.prev_url_for(path: new_frame_path)) %>
        <% end %>
        <%= form.hidden_field :confirming %>
      <% end %>
    </div>
  </div>
</div>
