<nav class="navbar navbar-expand-sm navbar-light c-bgcolor">
  <div class="container-fluid">
    <div class="align-middle">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="bi bi-palette"></i> Easel
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% unless logged_in? %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav justify-ccontent-sm-center me-auto">
          <li class="nav-item dropdown small">
            <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to 'profile', profile_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Upload', new_frame_path, class: 'dropdown-item', "data-turbo": false %></li>
              <li><%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %></li>
              <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          </li>
        </ul>
      <% end %>
      <ul class="navbar-nav justify-ccontent-sm-center">
        <li class="nav-item">
          <%= render 'layouts/tag_search'%>
        </li>
      </ul>
    </div>
  </div>
</nav>
