<nav class="navbar navbar-expand-sm navbar-light c-bgcolor">
  <div class="container-fluid">
  <div class="align-middle">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <i class="bi bi-palette"></i> Easel
  <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav me-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Upload', new_frame_path, class: 'nav-link', "data-turbo": false %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <%= render 'layouts/tag_search'%>
  </div>
  </div>
</nav>
