<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-color-white">
  <div class="container-fluid">
    <div class="align-middle">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="bi bi-palette"></i> Easel
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if user_signed_in? %>
      <ul class="navbar-nav justify-content-sm-center me-auto">
        <li class="nav-item dropdown small">
          <a class="nav-link dropdown-toggle btn btn-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "profile", profile_path, class: "dropdown-item" %></li>
            <li><%= link_to "Upload", new_frame_path(query_params), class: "dropdown-item", "data-turbo": false %></li>
            <li><%= link_to "Logout", account_logout_path, data: { turbo_method: :delete, turbo_frame: "_top" },
                                                           class: "dropdown-item" %></li>
            <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
      <ul class="navbar-nav justify-ccontent-sm-center">
        <li class="nav-item">
          <%= render TagSearch::Component.new(word: @word, path: frames_path) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
