<div class="sticky top-0 drawer drawer-end z-[1000]">
  <input id="date-sidebar" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-base-100 shadow shadow-sm">
      <div class="navbar-start">
        <%= link_to root_path do %>
          <i class="bi bi-palette"></i> Easel Legacy
        <% end %>
      </div>
      <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <div class="navbar-center">
        <% if user_signed_in? %>
          <details class="dropdown">
            <summary>
              <%= current_user.name %>
            </summary>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-20 z-[999]">
              <li><%= link_to "profile", profile_path, class: "" %></li>
              <li><%= link_to "Upload", new_frame_path(query_params), class: "", "data-turbo": false %></li>
              <li><%= link_to "Logout", account_logout_path, data: { turbo_method: :delete },
                                                             class: "" %></li>
              <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          </details>
          <% else %>
            <%= link_to "ログイン", login_path, class: "" %>
          <% end %>
        </ul>
      </div>
      <div class="navbar-end flex gap-2">
        <div class="hidden sm:flex">
          <%= render TagSearch::Component.new(word: @word, path: frames_path) %>
        </div>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
            <i class="bi bi-search"></i>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 z-1 mt-3 w-90 p-2 shadow">
            <li><%= render TagSearch::Component.new(word: @word, path: frames_path) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render Drawer::Component.new(day: @day) %>
</div>
