<div class="sticky top-0 drawer drawer-end z-[1000]">
  <input id="search-sidebar" type="checkbox" class="drawer-toggle">
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-base-100 shadow">
      <div class="navbar-start">
        <%= link_to root_path do %>
          <i class="bi bi-palette"></i> Easel Legacy
        <% end %>
      </div>
      <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <div class="navbar-center">
        <% if user_signed_in? %>
          <details class="dropdown">
            <summary>
              <span class="tooltip tooltip-bottom" data-tip="<%= current_user.name %>">
                <%= image_tag(current_user.image_url_for_view(:thumb), alt: current_user.name, class: "rounded", style: "width:40px;height:40px;display:inline;") %>
              </span>
            </summary>
            <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-20 z-[999]">
              <li><%= link_to "profile", profile_path, class: "" %></li>
              <li><%= link_to "Upload", new_frame_path(query_map), class: "", "data-turbo": true %></li>
              <li><%= link_to "Logout", account_logout_path, data: { turbo_method: :delete },
                                                             class: "" %></li>
              <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          </details>
        <% else %>
          <%= link_to "ログイン", login_path, class: "" %>
        <% end %>
      </div>
      <div class="navbar-end flex gap-2">
        <label for="search-sidebar" aria-label="open sidebar" class="btn btn-outline btn-primary">
          <i class="bi bi-search"></i>
        </label>
      </div>
    </div>
  </div>
  <%= render Drawer::SearchBar::Component.new(day: @day, word: (@items.present? ? @items["word"]: nil)) %>
</div>
