<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Easel Legacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/palette.png", { type: "image/png" } %>
    <%= favicon_link_tag "/palette.svg", { type: "image/svg+xml" } %>
    <%= vite_tags "tailwind.css", media: "all", "data-turbo-track": "reload" %>
    <%= vite_tags "application.css", media: "all", "data-turbo-track": "reload" %>
    <%= vite_tags "application.js", "data-turbo-track": "reload", type: "module" %>
    <!--
      Visit the guide for more information: https://github.com/skryukov/rails_vite
    -->
  </head>
  <body class="min-h-screen">
    <%= render Header::Component.new %>
    <div id="flash_message">
      <%= render Toast::Component.new(flash:) %>
    </div>
    <div class="container mx-auto">
      <%= yield %>
    </div>
    <%= render Footer::Component.new %>
  </body>
</html>
