<!DOCTYPE html>
<html>
  <head>
    <title>Easel Legacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/palette.png", { type: "image/png" } %>
    <%= favicon_link_tag "/palette.svg", { type: "image/svg+xml" } %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>
    <%= javascript_include_tag "bootstrap", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "turbo", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "components", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="flash_message">
      <%= render "layouts/flash" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render Footer::Component.new(day: @day) %>
  </body>
</html>
