<!DOCTYPE html>
<html>
  <head>
    <title>Easel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/palette.png", { type: "image/png" } %>
    <%= favicon_link_tag "/palette.svg", { type: "image/svg+xml" } %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbo-track': "reload" %>
  </head>
  <body>
    <%= render "errors/header" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
