<div id="frames">
  <br>
  <div data-controller="luminous tagify preview">
    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <%= link_to root_path(query_params), "data-turbo-frame": "_top" do %><i class="bi bi-arrow-left-circle"></i><% end %>
          アップロード
        </div>
      </div>
      <br>
      <%= form_with model: @frame, local: true, "data-controller": "luminous tagify preview" do |form| %>
        <%= form.hidden_field :file, value: form.object.cached_file_data %>
        <% if @frame.confirming == 'true' %>
          <%= render Frames::New::Confirm::Component.new(form:, frame: @frame, tag_paths: tag_paths(@frame)) %>
        <% else %>
          <%= render Frames::New::Input::Component.new(form:, frame: @frame, back_to_path: root_path(query_params)) %>
          <%= form.hidden_field :confirming %>
        <% end %>
        <%= query_params_hidden_field_tags %>
      <% end %>
    </div>
  </div>
  <br>
</div>
